<!-- This code creates a simple nav bar adds a logo and my animated -->

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="/images/PFF.png" alt="Logo" width="70" height="70">

        <a class="" href="/">
            <img src="https://readme-typing-svg.demolab.com/?lines=+Hi,+I'm+Miguel" alt="Typing SVG">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link text-light" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/about">About Me</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/projects">Projects</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="/contact">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
