<div id="particles-js">
    <!-- This allows the particles to render behind the text -->
    <div class="text-overlay">
        <h1>Welcome</h1>
        <p class="quote">“For I consider that the sufferings of this<br> present time are not worth comparing with <br> the glory that is going to be revealed to us.” <br>- Romans 8:18</p>
    </div>
</div>


<script src="/public/javascripts/particles.js"></script>
<script src="/public/javascripts/app.js"></script>


