

<div class="container">
    <h1>My Projects</h1>


    <!-- Basic Bootstrap container for my projects  -->
    <div class="row">
        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Soccer Team Report</h5>
                    <p class="card-text">CMD based Python Script in Excel meant to help soccer team 
                    coaches keep track of player information and payments.
                    </p>
                    <a href="https://github.com/MiguelAndr05/SoccerTeam_Report" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Event Planner</h5>
                    <p class="card-text">Full stack Event Planner hosted on azure<br> using C# .Net Framework</p>
                    <a href="https://github.com/MiguelAndr05/EventPlanner" class="btn btn-primary">View Details</a>
                </div>
            </div>
            
        </div>

        <div class="col-md-6">
            <div class="card bg-dark text-light">
                <div class="card-body">
                    <h5 class="card-title text-primary">Ecommerence Shop</h5>
                    <p class="card-text">Half stack Ecommerence shop hosted through Render</p>
                    <a href="https://github.com/MiguelAndr05/Ecommerence-Shop" class="btn btn-primary">View Details</a>
                </div>
            </div>
            
       
    </div>

</div>
